body {
    font-family: "微软雅黑",serif;
}


/*首页 内容*/
.marketing{
    margin-top: 100px;
    min-height: 780px;
}

/*修改浏览器内容选中颜色 如果有部分没改变  就把内容方在<p>里 */
::selection{
    background-color : #fa6c1b
}

/* navbar 自定义导航栏 */
.navbar-zhixin-title{
    color:#fff;
    float:none;
    margin-right: 20px;
}
@media (min-width: 0px) {
    .navbar-zhixin-header {
        float: left;
    }
}

/*颜色样式*/

.navbar-zhixin{
    background-color: #fa6c1b;
}

.navbar-zhixin .navbar-toggle:hover,
.navbar-zhixin .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-zhixin li a:hover{
    color: #fa6c1b;
    background-color: #fff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #fff;
    color: #fa6c1b;
    border-color: #fff;
}

.navbar-zhixin .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-zhixin a{
    color: #fff;
    text-decoration: none;
}

.navbar-zhixin a:hover,
.navbar-zhixin a:focus {
    color: #eee;
    text-decoration: none;
}

/*button 自定义按钮*/
.btn-zhixin {
    color: #fff;
    background-color: #fa6c1b;
    border-color: #be5215;
}
.btn-zhixin:hover,
.btn-zhixin:focus,
.btn-zhixin.focus,
.btn-zhixin:active,
.btn-zhixin.active,
.open > .dropdown-toggle.btn-zhixin {
    color: #fff;
    background-color: #d15a17;
    border-color: #be5215;
}
.btn-zhixin:active,
.btn-zhixin.active,
.open > .dropdown-toggle.btn-zhixin {
    background-image: none;
}
.btn-zhixin.disabled,
.btn-zhixin[disabled],
fieldset[disabled] .btn-zhixin,
.btn-zhixin.disabled:hover,
.btn-zhixin[disabled]:hover,
fieldset[disabled] .btn-zhixin:hover,
.btn-zhixin.disabled:focus,
.btn-zhixin[disabled]:focus,
fieldset[disabled] .btn-zhixin:focus,
.btn-zhixin.disabled.focus,
.btn-zhixin[disabled].focus,
fieldset[disabled] .btn-zhixin.focus,
.btn-zhixin.disabled:active,
.btn-zhixin[disabled]:active,
fieldset[disabled] .btn-zhixin:active,
.btn-zhixin.disabled.active,
.btn-zhixin[disabled].active,
fieldset[disabled] .btn-zhixin.active {
    background-color: #fa6c1b;
    border-color: #be5215;
}
.btn-zhixin .badge {
    color: #fa6c1b;
    background-color: #fff;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #fa6c1b;
    border-color: #be5215;
}

.form-control:focus {
    border-color: #fa6c1b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 108, 27, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 108, 27, 0.60);
}




/*橙色系*/
/*background-color: #f3542d;*/
/*border-color: #e7502b;*/

/*hover*/
/*background-color: #e24e2a;*/
/*border-color: #c94525;*/

/*蓝色*/
/*background-color: #3194f3;*/
/*border-color: #2e8be4;*/

/*hover*/
/*background-color: #2d88e0;*/
/*border-color: #236aae;*/

/* 求助中心 */
.help-list{
    max-width: 800px;
}

.label-time{
    color:#999;
    font-size: 12px;
}